*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body{
    background-color: #FFF5F0;
} */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    margin: 80px auto;
    width: 90%;
    padding: 25px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.card h3{
    font-size: 40px;
    color: #4ACF50;
}

.card p{
    font-size: 13px;
    font-style: italic;
    margin-bottom: 18px;
    color: #808080;
}

.card .form-control{
    display: inline-block;
    margin: 10px 0;
    border: 1px solid #dfdfdf;
    transition: all 0.5s ease;
    outline: none;
}

#name, #email, #password{
    width: 100%;
    height: 50px;
    padding: 12px 15px;
    font-size: 13px;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.card .form-control:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
    transform: scale(1.02);
}

.card .form-control::placeholder{
    font-size: 12px;
    font-style: italic;
    padding: 10px;
}

.card .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 18px 0;
    width: 50%;
    height: 50px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #dfdfdf;
    background-color: #4ACF50;
    color: #fff;
    font-size: 14px;
    transition: all 0.5s ease;
}

.card .btn:hover{
    color: #000;
    background-color: #fff;
}


